@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: rgb(15 23 42);
  color: rgb(248 250 252);
}

.TileAnimate {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.TileAnimate:hover {
  transform: translateY(-10px);

  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.UserDetailsModal {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
